.card-container {
    margin-bottom: 20px;
    align-self: auto;
    align-self: normal;
    height: 425px;
}

.card-container img {
    height: 200px;
}

.card-container p {
    margin: 0;
    padding: 0;
}